# Practicing Advanced SQL Functions

---

## Imports

In [1]:
# IMPORTS
import pandas as pd
import numpy as np

# SQL IMPORTS
# import sqlalchemy
import pandas

# ENV IMPORTS
import os
from dotenv import load_dotenv

load_dotenv()

True

## Load SQL Module

In [2]:
%load_ext sql

## Connect to Local PostgreSQLDatabase

In [3]:
user = os.getenv("db_user")
password = os.getenv("db_password")


database = "DVD_Rental"


connection_string = f"postgresql://{user}:{password}@localhost/{database}"
    
%sql $connection_string

## Test Query

In [4]:
%%sql
    
SELECT *
FROM film
LIMIT 3;

 * postgresql://postgres:***@localhost/DVD_Rental
3 rows affected.

[(133, 'Chamber Italian', 'A Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria', 2006, 1, 7, Decimal('4.99'), 117, Decimal('14.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'chamber':1 'fate':4 'husband':11 'italian':2 'monkey':16 'moos':8 'must':13 'nigeria':18 'overcom':14 'reflect':5"),
 (384, 'Grosse Wonderful', 'A Epic Drama of a Cat And a Explorer who must Redeem a Moose in Australia', 2006, 1, 5, Decimal('4.99'), 49, Decimal('19.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Behind the Scenes'], "'australia':18 'cat':8 'drama':5 'epic':4 'explor':11 'gross':1 'moos':16 'must':13 'redeem':14 'wonder':2"),
 (8, 'Airport Pollock', 'A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India', 2006, 1, 6, Decimal('4.99'), 54, Decimal('15.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'airport':1 'ancient':18 'confront':14 'epic':4 'girl':11 'india':19 'monkey':16 'moos':8 'must':13 'pollock':2 'tale':5")]

---

# Practice Window Functions

"A window function performs a calculation across a set of table rows that are somehow related to the current row. This is comparable to the type of calculation that can be done with an aggregate function. But unlike regular aggregate functions, use of a window function does not cause rows to become grouped into a single output row â€” the rows retain their separate identities. Behind the scenes, the window function is able to access more than just the current row of the query result."

https://mode.com/sql-tutorial/sql-window-functions/

### SUM

- We get the SUM total over all the amounts paid.
- We can choose to PARTITION BY a category like "customer_id"
- ORDER BY is specified so SQL knows in which order to create the sum totals.
    - In this case we use "payment_date"

In [17]:
%%sql
    
SELECT c.customer_id,
        first_name,
        last_name,
        payment_id,
        payment_date,
        amount,
        SUM(amount) OVER 
        (PARTITION BY c.customer_id ORDER BY payment_date) 
        AS running_total
FROM customer c
JOIN payment p
ON c.customer_id = p.customer_id
WHERE c.customer_id < 3;

 * postgresql://postgres:***@localhost/DVD_Rental
56 rows affected.

[(1, 'Mary', 'Smith', 18495, datetime.datetime(2007, 2, 14, 23, 22, 38, 996577), Decimal('5.99'), Decimal('5.99')),
 (1, 'Mary', 'Smith', 18496, datetime.datetime(2007, 2, 15, 16, 31, 19, 996577), Decimal('0.99'), Decimal('6.98')),
 (1, 'Mary', 'Smith', 18497, datetime.datetime(2007, 2, 15, 19, 37, 12, 996577), Decimal('9.99'), Decimal('16.97')),
 (1, 'Mary', 'Smith', 18498, datetime.datetime(2007, 2, 16, 13, 47, 23, 996577), Decimal('4.99'), Decimal('21.96')),
 (1, 'Mary', 'Smith', 18499, datetime.datetime(2007, 2, 18, 7, 10, 14, 996577), Decimal('4.99'), Decimal('26.95')),
 (1, 'Mary', 'Smith', 18500, datetime.datetime(2007, 2, 18, 12, 2, 25, 996577), Decimal('0.99'), Decimal('27.94')),
 (1, 'Mary', 'Smith', 18501, datetime.datetime(2007, 2, 21, 4, 53, 11, 996577), Decimal('3.99'), Decimal('31.93')),
 (1, 'Mary', 'Smith', 22680, datetime.datetime(2007, 3, 1, 7, 19, 30, 996577), Decimal('4.99'), Decimal('36.92')),
 (1, 'Mary', 'Smith', 22681, datetime.datetime(2007, 3, 2, 14, 5, 18, 996577), Decimal('3.99'), Decimal('40.91')),
 (1, 'Mary', 'Smith', 22682, datetime.datetime(2007, 3, 2, 16, 30, 4, 996577), Decimal('0.99'), Decimal('41.90')),
 (1, 'Mary', 'Smith', 22683, datetime.datetime(2007, 3, 17, 11, 6, 20, 996577), Decimal('4.99'), Decimal('46.89')),
 (1, 'Mary', 'Smith', 22684, datetime.datetime(2007, 3, 18, 2, 25, 55, 996577), Decimal('0.99'), Decimal('47.88')),
 (1, 'Mary', 'Smith', 22685, datetime.datetime(2007, 3, 19, 8, 23, 42, 996577), Decimal('0.99'), Decimal('48.87')),
 (1, 'Mary', 'Smith', 22686, datetime.datetime(2007, 3, 19, 12, 25, 20, 996577), Decimal('2.99'), Decimal('51.86')),
 (1, 'Mary', 'Smith', 22687, datetime.datetime(2007, 3, 21, 22, 2, 23, 996577), Decimal('0.99'), Decimal('52.85')),
 (1, 'Mary', 'Smith', 22688, datetime.datetime(2007, 3, 21, 23, 56, 23, 996577), Decimal('1.99'), Decimal('54.84')),
 (1, 'Mary', 'Smith', 22689, datetime.datetime(2007, 3, 22, 18, 10, 3, 996577), Decimal('2.99'), Decimal('57.83')),
 (1, 'Mary', 'Smith', 22690, datetime.datetime(2007, 3, 22, 18, 32, 12, 996577), Decimal('5.99'), Decimal('63.82')),
 (1, 'Mary', 'Smith', 28993, datetime.datetime(2007, 4, 8, 1, 45, 31, 996577), Decimal('5.99'), Decimal('69.81')),
 (1, 'Mary', 'Smith', 28994, datetime.datetime(2007, 4, 8, 6, 2, 22, 996577), Decimal('5.99'), Decimal('75.80')),
 (1, 'Mary', 'Smith', 28995, datetime.datetime(2007, 4, 9, 11, 52, 33, 996577), Decimal('4.99'), Decimal('80.79')),
 (1, 'Mary', 'Smith', 28996, datetime.datetime(2007, 4, 9, 15, 6, 27, 996577), Decimal('4.99'), Decimal('85.78')),
 (1, 'Mary', 'Smith', 28997, datetime.datetime(2007, 4, 11, 8, 42, 12, 996577), Decimal('7.99'), Decimal('93.77')),
 (1, 'Mary', 'Smith', 28998, datetime.datetime(2007, 4, 27, 9, 59, 48, 996577), Decimal('2.99'), Decimal('96.76')),
 (1, 'Mary', 'Smith', 28999, datetime.datetime(2007, 4, 28, 7, 33, 11, 996577), Decimal('4.99'), Decimal('101.75')),
 (1, 'Mary', 'Smith', 29000, datetime.datetime(2007, 4, 28, 14, 46, 49, 996577), Decimal('4.99'), Decimal('106.74')),
 (1, 'Mary', 'Smith', 29001, datetime.datetime(2007, 4, 28, 16, 2, 5, 996577), Decimal('0.99'), Decimal('107.73')),
 (1, 'Mary', 'Smith', 29002, datetime.datetime(2007, 4, 28, 17, 48, 33, 996577), Decimal('0.99'), Decimal('108.72')),
 (1, 'Mary', 'Smith', 29003, datetime.datetime(2007, 4, 29, 2, 27, 15, 996577), Decimal('2.99'), Decimal('111.71')),
 (1, 'Mary', 'Smith', 29004, datetime.datetime(2007, 4, 30, 1, 10, 44, 996577), Decimal('2.99'), Decimal('114.70')),
 (2, 'Patricia', 'Johnson', 18502, datetime.datetime(2007, 2, 17, 19, 23, 24, 996577), Decimal('2.99'), Decimal('2.99')),
 (2, 'Patricia', 'Johnson', 22691, datetime.datetime(2007, 3, 1, 8, 13, 52, 996577), Decimal('0.99'), Decimal('3.98')),
 (2, 'Patricia', 'Johnson', 22692, datetime.datetime(2007, 3, 2, 0, 39, 22, 996577), Decimal('0.99'), Decimal('4.97')),
 (2, 'Patricia', 'Johnson', 22693, datetime.datetime(2007, 3, 2, 6, 10, 7, 996577), Decimal('5.99'), Decimal('10.96')),
 (2, 'Patricia', 'Johnson', 22694, datetime.datetime(2007, 3, 2, 9, 12, 14, 996577), Decimal('6.99'), Decimal('17.95')),
 (2, 'Patricia', 'Johnson', 22695, datetime.datetime(2007, 3, 2, 12, 13, 19, 996577), Decimal('2.99'), Decimal('20.94')),
 (2, 'Patricia', 'Johnson', 22696, datetime.datetime(2007, 3, 17, 2, 20, 44, 996577), Decimal('2.99'), Decimal('23.93')),
 (2, 'Patricia', 'Johnson', 22697, datetime.datetime(2007, 3, 19, 4, 54, 30, 996577), Decimal('2.99'), Decimal('26.92')),
 (2, 'Patricia', 'Johnson', 22698, datetime.datetime(2007, 3, 21, 11, 52, 58, 996577), Decimal('4.99'), Decimal('31.91')),
 (2, 'Patricia', 'Johnson', 22699, datetime.datetime(2007, 3, 21, 21, 10, 22, 996577), Decimal('5.99'), Decimal('37.90')),
 (2, 'Patricia', 'Johnson', 22700, datetime.datetime(2007, 3, 22, 12, 21, 30, 996577), Decimal('4.99'), Decimal('42.89')),
 (2, 'Patricia', 'Johnson', 22701, datetime.datetime(2007, 3, 23, 16, 8, 1, 996577), Decimal('4.99'), Decimal('47.88')),
 (2, 'Patricia', 'Johnson', 29005, datetime.datetime(2007, 4, 10, 4, 59, 50, 996577), Decimal('2.99'), Decimal('50.87')),
 (2, 'Patricia', 'Johnson', 29006, datetime.datetime(2007, 4, 10, 11, 7, 22, 996577), Decimal('6.99'), Decimal('57.86')),
 (2, 'Patricia', 'Johnson', 29007, datetime.datetime(2007, 4, 27, 12, 59, 8, 996577), Decimal('4.99'), Decimal('62.85')),
 (2, 'Patricia', 'Johnson', 29008, datetime.datetime(2007, 4, 27, 13, 51, 28, 996577), Decimal('5.99'), Decimal('68.84')),
 (2, 'Patricia', 'Johnson', 29009, datetime.datetime(2007, 4, 27, 17, 8, 46, 996577), Decimal('5.99'), Decimal('74.83')),
 (2, 'Patricia', 'Johnson', 29010, datetime.datetime(2007, 4, 28, 22, 41, 25, 996577), Decimal('5.99'), Decimal('80.82')),
 (2, 'Patricia', 'Johnson', 29011, datetime.datetime(2007, 4, 29, 11, 25, 25, 996577), Decimal('2.99'), Decimal('83.81')),
 (2, 'Patricia', 'Johnson', 29012, datetime.datetime(2007, 4, 29, 15, 42, 55, 996577), Decimal('5.99'), Decimal('89.80')),
 (2, 'Patricia', 'Johnson', 29013, datetime.datetime(2007, 4, 30, 4, 34, 36, 996577), Decimal('4.99'), Decimal('94.79')),
 (2, 'Patricia', 'Johnson', 29014, datetime.datetime(2007, 4, 30, 12, 16, 9, 996577), Decimal('10.99'), Decimal('105.78')),
 (2, 'Patricia', 'Johnson', 29015, datetime.datetime(2007, 4, 30, 12, 42, 37, 996577), Decimal('0.99'), Decimal('106.77')),
 (2, 'Patricia', 'Johnson', 29016, datetime.datetime(2007, 4, 30, 14, 49, 39, 996577), Decimal('6.99'), Decimal('113.76')),
 (2, 'Patricia', 'Johnson', 29018, datetime.datetime(2007, 4, 30, 20, 27, 22, 996577), Decimal('2.99'), Decimal('116.75')),
 (2, 'Patricia', 'Johnson', 29017, datetime.datetime(2007, 4, 30, 21, 8, 19, 996577), Decimal('6.99'), Decimal('123.74'))]

### SUM, AVG, COUNT

- We get the SUM total over all the amounts paid.
- We can choose to PARTITION BY a category like "customer_id"
- ORDER BY is specified so SQL knows in which order to create the sum totals.
    - In this case we use "payment_date"

In [20]:
%%sql
    
SELECT c.customer_id,
        first_name,
        last_name,
        payment_id,
        payment_date,
        amount,
        COUNT(payment_id) OVER
            (PARTITION BY c.customer_id ORDER BY payment_date) 
            AS running_count,
        SUM(amount) OVER 
            (PARTITION BY c.customer_id ORDER BY payment_date) 
            AS running_sum,
        AVG(amount) OVER
            (PARTITION BY c.customer_id ORDER BY payment_date) 
            AS running_avg
FROM customer c
JOIN payment p
ON c.customer_id = p.customer_id
WHERE c.customer_id < 3;

 * postgresql://postgres:***@localhost/DVD_Rental
56 rows affected.

[(1, 'Mary', 'Smith', 18495, datetime.datetime(2007, 2, 14, 23, 22, 38, 996577), Decimal('5.99'), 1, Decimal('5.99'), Decimal('5.9900000000000000')),
 (1, 'Mary', 'Smith', 18496, datetime.datetime(2007, 2, 15, 16, 31, 19, 996577), Decimal('0.99'), 2, Decimal('6.98'), Decimal('3.4900000000000000')),
 (1, 'Mary', 'Smith', 18497, datetime.datetime(2007, 2, 15, 19, 37, 12, 996577), Decimal('9.99'), 3, Decimal('16.97'), Decimal('5.6566666666666667')),
 (1, 'Mary', 'Smith', 18498, datetime.datetime(2007, 2, 16, 13, 47, 23, 996577), Decimal('4.99'), 4, Decimal('21.96'), Decimal('5.4900000000000000')),
 (1, 'Mary', 'Smith', 18499, datetime.datetime(2007, 2, 18, 7, 10, 14, 996577), Decimal('4.99'), 5, Decimal('26.95'), Decimal('5.3900000000000000')),
 (1, 'Mary', 'Smith', 18500, datetime.datetime(2007, 2, 18, 12, 2, 25, 996577), Decimal('0.99'), 6, Decimal('27.94'), Decimal('4.6566666666666667')),
 (1, 'Mary', 'Smith', 18501, datetime.datetime(2007, 2, 21, 4, 53, 11, 996577), Decimal('3.99'), 7, Decimal('31.93'), Decimal('4.5614285714285714')),
 (1, 'Mary', 'Smith', 22680, datetime.datetime(2007, 3, 1, 7, 19, 30, 996577), Decimal('4.99'), 8, Decimal('36.92'), Decimal('4.6150000000000000')),
 (1, 'Mary', 'Smith', 22681, datetime.datetime(2007, 3, 2, 14, 5, 18, 996577), Decimal('3.99'), 9, Decimal('40.91'), Decimal('4.5455555555555556')),
 (1, 'Mary', 'Smith', 22682, datetime.datetime(2007, 3, 2, 16, 30, 4, 996577), Decimal('0.99'), 10, Decimal('41.90'), Decimal('4.1900000000000000')),
 (1, 'Mary', 'Smith', 22683, datetime.datetime(2007, 3, 17, 11, 6, 20, 996577), Decimal('4.99'), 11, Decimal('46.89'), Decimal('4.2627272727272727')),
 (1, 'Mary', 'Smith', 22684, datetime.datetime(2007, 3, 18, 2, 25, 55, 996577), Decimal('0.99'), 12, Decimal('47.88'), Decimal('3.9900000000000000')),
 (1, 'Mary', 'Smith', 22685, datetime.datetime(2007, 3, 19, 8, 23, 42, 996577), Decimal('0.99'), 13, Decimal('48.87'), Decimal('3.7592307692307692')),
 (1, 'Mary', 'Smith', 22686, datetime.datetime(2007, 3, 19, 12, 25, 20, 996577), Decimal('2.99'), 14, Decimal('51.86'), Decimal('3.7042857142857143')),
 (1, 'Mary', 'Smith', 22687, datetime.datetime(2007, 3, 21, 22, 2, 23, 996577), Decimal('0.99'), 15, Decimal('52.85'), Decimal('3.5233333333333333')),
 (1, 'Mary', 'Smith', 22688, datetime.datetime(2007, 3, 21, 23, 56, 23, 996577), Decimal('1.99'), 16, Decimal('54.84'), Decimal('3.4275000000000000')),
 (1, 'Mary', 'Smith', 22689, datetime.datetime(2007, 3, 22, 18, 10, 3, 996577), Decimal('2.99'), 17, Decimal('57.83'), Decimal('3.4017647058823529')),
 (1, 'Mary', 'Smith', 22690, datetime.datetime(2007, 3, 22, 18, 32, 12, 996577), Decimal('5.99'), 18, Decimal('63.82'), Decimal('3.5455555555555556')),
 (1, 'Mary', 'Smith', 28993, datetime.datetime(2007, 4, 8, 1, 45, 31, 996577), Decimal('5.99'), 19, Decimal('69.81'), Decimal('3.6742105263157895')),
 (1, 'Mary', 'Smith', 28994, datetime.datetime(2007, 4, 8, 6, 2, 22, 996577), Decimal('5.99'), 20, Decimal('75.80'), Decimal('3.7900000000000000')),
 (1, 'Mary', 'Smith', 28995, datetime.datetime(2007, 4, 9, 11, 52, 33, 996577), Decimal('4.99'), 21, Decimal('80.79'), Decimal('3.8471428571428571')),
 (1, 'Mary', 'Smith', 28996, datetime.datetime(2007, 4, 9, 15, 6, 27, 996577), Decimal('4.99'), 22, Decimal('85.78'), Decimal('3.8990909090909091')),
 (1, 'Mary', 'Smith', 28997, datetime.datetime(2007, 4, 11, 8, 42, 12, 996577), Decimal('7.99'), 23, Decimal('93.77'), Decimal('4.0769565217391304')),
 (1, 'Mary', 'Smith', 28998, datetime.datetime(2007, 4, 27, 9, 59, 48, 996577), Decimal('2.99'), 24, Decimal('96.76'), Decimal('4.0316666666666667')),
 (1, 'Mary', 'Smith', 28999, datetime.datetime(2007, 4, 28, 7, 33, 11, 996577), Decimal('4.99'), 25, Decimal('101.75'), Decimal('4.0700000000000000')),
 (1, 'Mary', 'Smith', 29000, datetime.datetime(2007, 4, 28, 14, 46, 49, 996577), Decimal('4.99'), 26, Decimal('106.74'), Decimal('4.1053846153846154')),
 (1, 'Mary', 'Smith', 29001, datetime.datetime(2007, 4, 28, 16, 2, 5, 996577), Decimal('0.99'), 27, Decimal('107.73'), Decimal('3.9900000000000000')),
 (1, 'Mary', 'Smith', 29002, datetime.datetime(2007, 4, 28, 17, 48, 33, 996577), Decimal('0.99'), 28, Decimal('108.72'), Decimal('3.8828571428571429')),
 (1, 'Mary', 'Smith', 29003, datetime.datetime(2007, 4, 29, 2, 27, 15, 996577), Decimal('2.99'), 29, Decimal('111.71'), Decimal('3.8520689655172414')),
 (1, 'Mary', 'Smith', 29004, datetime.datetime(2007, 4, 30, 1, 10, 44, 996577), Decimal('2.99'), 30, Decimal('114.70'), Decimal('3.8233333333333333')),
 (2, 'Patricia', 'Johnson', 18502, datetime.datetime(2007, 2, 17, 19, 23, 24, 996577), Decimal('2.99'), 1, Decimal('2.99'), Decimal('2.9900000000000000')),
 (2, 'Patricia', 'Johnson', 22691, datetime.datetime(2007, 3, 1, 8, 13, 52, 996577), Decimal('0.99'), 2, Decimal('3.98'), Decimal('1.9900000000000000')),
 (2, 'Patricia', 'Johnson', 22692, datetime.datetime(2007, 3, 2, 0, 39, 22, 996577), Decimal('0.99'), 3, Decimal('4.97'), Decimal('1.6566666666666667')),
 (2, 'Patricia', 'Johnson', 22693, datetime.datetime(2007, 3, 2, 6, 10, 7, 996577), Decimal('5.99'), 4, Decimal('10.96'), Decimal('2.7400000000000000')),
 (2, 'Patricia', 'Johnson', 22694, datetime.datetime(2007, 3, 2, 9, 12, 14, 996577), Decimal('6.99'), 5, Decimal('17.95'), Decimal('3.5900000000000000')),
 (2, 'Patricia', 'Johnson', 22695, datetime.datetime(2007, 3, 2, 12, 13, 19, 996577), Decimal('2.99'), 6, Decimal('20.94'), Decimal('3.4900000000000000')),
 (2, 'Patricia', 'Johnson', 22696, datetime.datetime(2007, 3, 17, 2, 20, 44, 996577), Decimal('2.99'), 7, Decimal('23.93'), Decimal('3.4185714285714286')),
 (2, 'Patricia', 'Johnson', 22697, datetime.datetime(2007, 3, 19, 4, 54, 30, 996577), Decimal('2.99'), 8, Decimal('26.92'), Decimal('3.3650000000000000')),
 (2, 'Patricia', 'Johnson', 22698, datetime.datetime(2007, 3, 21, 11, 52, 58, 996577), Decimal('4.99'), 9, Decimal('31.91'), Decimal('3.5455555555555556')),
 (2, 'Patricia', 'Johnson', 22699, datetime.datetime(2007, 3, 21, 21, 10, 22, 996577), Decimal('5.99'), 10, Decimal('37.90'), Decimal('3.7900000000000000')),
 (2, 'Patricia', 'Johnson', 22700, datetime.datetime(2007, 3, 22, 12, 21, 30, 996577), Decimal('4.99'), 11, Decimal('42.89'), Decimal('3.8990909090909091')),
 (2, 'Patricia', 'Johnson', 22701, datetime.datetime(2007, 3, 23, 16, 8, 1, 996577), Decimal('4.99'), 12, Decimal('47.88'), Decimal('3.9900000000000000')),
 (2, 'Patricia', 'Johnson', 29005, datetime.datetime(2007, 4, 10, 4, 59, 50, 996577), Decimal('2.99'), 13, Decimal('50.87'), Decimal('3.9130769230769231')),
 (2, 'Patricia', 'Johnson', 29006, datetime.datetime(2007, 4, 10, 11, 7, 22, 996577), Decimal('6.99'), 14, Decimal('57.86'), Decimal('4.1328571428571429')),
 (2, 'Patricia', 'Johnson', 29007, datetime.datetime(2007, 4, 27, 12, 59, 8, 996577), Decimal('4.99'), 15, Decimal('62.85'), Decimal('4.1900000000000000')),
 (2, 'Patricia', 'Johnson', 29008, datetime.datetime(2007, 4, 27, 13, 51, 28, 996577), Decimal('5.99'), 16, Decimal('68.84'), Decimal('4.3025000000000000')),
 (2, 'Patricia', 'Johnson', 29009, datetime.datetime(2007, 4, 27, 17, 8, 46, 996577), Decimal('5.99'), 17, Decimal('74.83'), Decimal('4.4017647058823529')),
 (2, 'Patricia', 'Johnson', 29010, datetime.datetime(2007, 4, 28, 22, 41, 25, 996577), Decimal('5.99'), 18, Decimal('80.82'), Decimal('4.4900000000000000')),
 (2, 'Patricia', 'Johnson', 29011, datetime.datetime(2007, 4, 29, 11, 25, 25, 996577), Decimal('2.99'), 19, Decimal('83.81'), Decimal('4.4110526315789474')),
 (2, 'Patricia', 'Johnson', 29012, datetime.datetime(2007, 4, 29, 15, 42, 55, 996577), Decimal('5.99'), 20, Decimal('89.80'), Decimal('4.4900000000000000')),
 (2, 'Patricia', 'Johnson', 29013, datetime.datetime(2007, 4, 30, 4, 34, 36, 996577), Decimal('4.99'), 21, Decimal('94.79'), Decimal('4.5138095238095238')),
 (2, 'Patricia', 'Johnson', 29014, datetime.datetime(2007, 4, 30, 12, 16, 9, 996577), Decimal('10.99'), 22, Decimal('105.78'), Decimal('4.8081818181818182')),
 (2, 'Patricia', 'Johnson', 29015, datetime.datetime(2007, 4, 30, 12, 42, 37, 996577), Decimal('0.99'), 23, Decimal('106.77'), Decimal('4.6421739130434783')),
 (2, 'Patricia', 'Johnson', 29016, datetime.datetime(2007, 4, 30, 14, 49, 39, 996577), Decimal('6.99'), 24, Decimal('113.76'), Decimal('4.7400000000000000')),
 (2, 'Patricia', 'Johnson', 29018, datetime.datetime(2007, 4, 30, 20, 27, 22, 996577), Decimal('2.99'), 25, Decimal('116.75'), Decimal('4.6700000000000000')),
 (2, 'Patricia', 'Johnson', 29017, datetime.datetime(2007, 4, 30, 21, 8, 19, 996577), Decimal('6.99'), 26, Decimal('123.74'), Decimal('4.7592307692307692'))]